// Your own styles

* {
  box-sizing: border-box;
}

#logo {
  width: 8rem;
  height: 6rem;
}

#jumbo {
  background-image: url('/img/clap.jpg');
  background-size: cover;
  background-position: 50% 80%;
  background-attachment: fixed;
  height:12rem;
}

#overlay {
  background-color: rgba(0, 0, 0, .5);
  height: 12rem;
}

.promo {
  width: 50%;
  height: 60%;
  margin-left: 1.3rem;
}